@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap);





body {
  font-family: Dosis;
}
.display-1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.8rem;
}
.display-1 > .mbr-iconfont {
  font-size: 4.48rem;
}
.display-2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
}
.display-2 > .mbr-iconfont {
  font-size: 3.2rem;
}
.display-4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.28rem;
}
.display-5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
}
.display-5 > .mbr-iconfont {
  font-size: 2.24rem;
}
.display-7 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.24rem;
    font-size: calc( 1.63rem + (2.8 - 1.63) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.63rem + (2.8 - 1.63) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.64rem;
    font-size: calc( 0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.8rem 2rem;
  border-radius: 0px;
}
.btn-sm {
  padding: 0.5rem 1.5rem;
  border-radius: 0px;
}
.btn-md {
  padding: 0.8rem 2rem;
  border-radius: 0px;
}
.btn-lg {
  padding: 0.8rem 2rem;
  border-radius: 0px;
}
.bg-primary {
  background-color: #ffffff !important;
}
.bg-success {
  background-color: #ffbc00 !important;
}
.bg-info {
  background-color: #ff4100 !important;
}
.bg-warning {
  background-color: #0a67a3 !important;
}
.bg-danger {
  background-color: #c3da32 !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #ff4100 !important;
  border-color: #ff4100 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #b32d00 !important;
  border-color: #b32d00 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #b32d00 !important;
  border-color: #b32d00 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #ff4100 !important;
  border-color: #ff4100 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff !important;
  background-color: #b32d00 !important;
  border-color: #b32d00 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #b32d00 !important;
  border-color: #b32d00 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #ffbc00 !important;
  border-color: #ffbc00 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff !important;
  background-color: #b38400 !important;
  border-color: #b38400 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #b38400 !important;
  border-color: #b38400 !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #0a67a3 !important;
  border-color: #0a67a3 !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff !important;
  background-color: #06395b !important;
  border-color: #06395b !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #06395b !important;
  border-color: #06395b !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #c3da32 !important;
  border-color: #c3da32 !important;
  color: #0a0b02 !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #0a0b02 !important;
  background-color: #90a21d !important;
  border-color: #90a21d !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #0a0b02 !important;
  background-color: #90a21d !important;
  border-color: #90a21d !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #cccccc;
  color: #cccccc !important;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #808080 !important;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #992700;
  color: #992700 !important;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff !important;
  background-color: #ff4100;
  border-color: #ff4100;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff4100 !important;
  border-color: #ff4100 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #992700;
  color: #992700 !important;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff !important;
  background-color: #ff4100;
  border-color: #ff4100;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #ff4100 !important;
  border-color: #ff4100 !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #997100;
  color: #997100 !important;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff !important;
  background-color: #ffbc00;
  border-color: #ffbc00;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #ffbc00 !important;
  border-color: #ffbc00 !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #042a43;
  color: #042a43 !important;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #ffffff !important;
  background-color: #0a67a3;
  border-color: #0a67a3;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #0a67a3 !important;
  border-color: #0a67a3 !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #7d8d19;
  color: #7d8d19 !important;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #0a0b02 !important;
  background-color: #c3da32;
  border-color: #c3da32;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #0a0b02 !important;
  background-color: #c3da32 !important;
  border-color: #c3da32 !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000 !important;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff !important;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff !important;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333 !important;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #ffffff !important;
}
.text-secondary {
  color: #ff4100 !important;
}
.text-success {
  color: #ffbc00 !important;
}
.text-info {
  color: #ff4100 !important;
}
.text-warning {
  color: #0a67a3 !important;
}
.text-danger {
  color: #c3da32 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #cccccc !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #992700 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #997100 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #992700 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #042a43 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #7d8d19 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #ff4100;
}
.alert-warning {
  background-color: #0a67a3;
}
.alert-danger {
  background-color: #c3da32;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #8c8c8c;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #ffffff;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #fff2cc;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffd9cc;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #3aaaf3;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #f6f9df;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
#scrollToTop a {
  background: #000000;
}
#scrollToTop a i:before {
  background: #ffffff;
}
#scrollToTop a i:after {
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
}
.mbr-arrow {
  background-color: #000000;
  opacity: .5;
  transition: .3s;
}
.mbr-arrow a {
  color: #ffffff;
}
.mbr-arrow:hover {
  opacity: .7;
}
.form-control {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #ffffff;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #ffffff;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #ffffff;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ffffff;
  color: #000000;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #ffffff !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #ff4100 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23ffffff' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
.cid-qUmyUFHMzl {
  padding-top: 15px;
  padding-bottom: 15px;
  background: #ffffff;
}
.cid-qUmyUFHMzl .image-block {
  margin: auto;
}
@media (max-width: 768px) {
  .cid-qUmyUFHMzl .image-block {
    width: 100% !important;
  }
}
.cid-sg93EGElR9 {
  padding-top: 30px;
  padding-bottom: 10px;
  background-image: url("../../../assets/images/44tekengebied-1-kopiediversen-ook-groen-1200x1200.jpeg");
}
.cid-sg93EGElR9 .mbr-overlay {
  background-color: #ad4482;
  background: linear-gradient(90deg, #ad4482, #000000);
}
.cid-rrcf8b6jqv {
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-rrcf8b6jqv .stats-item:hover span {
  color: #ffbc00;
}
.cid-rrcf8b6jqv .stats-item {
  padding: 80px 20px;
}
.cid-rrcf8b6jqv .stats-item:nth-child(2n) {
  background-color: #ad4482;
}
.cid-rrcf8b6jqv .stats-item:nth-child(odd) {
  background-color: #c3da32;
}
.cid-rrcf8b6jqv .stats-item > span {
  transition: all 0.3s ease-in-out;
}
.cid-rrcf8b6jqv .mbr-iconfont {
  font-size: 50px;
}
.cid-rrcf8b6jqv .heading {
  margin: 20px 0;
  color: #232323;
}
.cid-rrcf8b6jqv .container {
  min-width: 100%;
  padding: 0;
  margin: 0 auto;
}
@media (max-width: 768px) and (min-width: 577px) {
  .cid-rrcf8b6jqv .stats-item:first-child {
    background: #ad4482;
  }
  .cid-rrcf8b6jqv .stats-item:nth-child(2n) {
    background: #c3da32;
  }
  .cid-rrcf8b6jqv .stats-item:nth-child(0n+3) {
    background: #c3da32 none repeat scroll 0 center;
  }
  .cid-rrcf8b6jqv .stats-item:last-child {
    background: #ad4482;
  }
}
.cid-rrcf8b6jqv .counter {
  text-align: center;
  color: #000000;
}
.cid-rrcf8b6jqv .mbr-card-title,
.cid-rrcf8b6jqv .mbr-iconfont {
  text-align: center;
  color: #ffffff;
}
.cid-qUmCH8Q344 {
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-qUmCH8Q344 .stats-item:hover span {
  color: #ffbc00;
}
.cid-qUmCH8Q344 .stats-item {
  padding: 80px 20px;
}
.cid-qUmCH8Q344 .stats-item:nth-child(2n) {
  background-color: #c3da32;
}
.cid-qUmCH8Q344 .stats-item:nth-child(odd) {
  background-color: #ad4482;
}
.cid-qUmCH8Q344 .stats-item > span {
  transition: all 0.3s ease-in-out;
}
.cid-qUmCH8Q344 .mbr-iconfont {
  font-size: 50px;
}
.cid-qUmCH8Q344 .heading {
  margin: 20px 0;
  color: #232323;
}
.cid-qUmCH8Q344 .container {
  min-width: 100%;
  padding: 0;
  margin: 0 auto;
}
@media (max-width: 768px) and (min-width: 577px) {
  .cid-qUmCH8Q344 .stats-item:first-child {
    background: #c3da32;
  }
  .cid-qUmCH8Q344 .stats-item:nth-child(2n) {
    background: #ad4482;
  }
  .cid-qUmCH8Q344 .stats-item:nth-child(0n+3) {
    background: #ad4482 none repeat scroll 0 center;
  }
  .cid-qUmCH8Q344 .stats-item:last-child {
    background: #c3da32;
  }
}
.cid-qUmCH8Q344 .counter {
  text-align: center;
  color: #000000;
}
.cid-qUmCH8Q344 .mbr-card-title,
.cid-qUmCH8Q344 .mbr-iconfont {
  text-align: center;
  color: #ffffff;
}
.cid-rvcsOkIGQc {
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-rvcsOkIGQc .stats-item:hover span {
  color: #ffbc00;
}
.cid-rvcsOkIGQc .stats-item {
  padding: 80px 20px;
}
.cid-rvcsOkIGQc .stats-item:nth-child(2n) {
  background-color: #ad4482;
}
.cid-rvcsOkIGQc .stats-item:nth-child(odd) {
  background-color: #c3da32;
}
.cid-rvcsOkIGQc .stats-item > span {
  transition: all 0.3s ease-in-out;
}
.cid-rvcsOkIGQc .mbr-iconfont {
  font-size: 50px;
}
.cid-rvcsOkIGQc .heading {
  margin: 20px 0;
  color: #232323;
}
.cid-rvcsOkIGQc .container {
  min-width: 100%;
  padding: 0;
  margin: 0 auto;
}
@media (max-width: 768px) and (min-width: 577px) {
  .cid-rvcsOkIGQc .stats-item:first-child {
    background: #ad4482;
  }
  .cid-rvcsOkIGQc .stats-item:nth-child(2n) {
    background: #c3da32;
  }
  .cid-rvcsOkIGQc .stats-item:nth-child(0n+3) {
    background: #c3da32 none repeat scroll 0 center;
  }
  .cid-rvcsOkIGQc .stats-item:last-child {
    background: #ad4482;
  }
}
.cid-rvcsOkIGQc .counter {
  text-align: center;
  color: #000000;
}
.cid-rvcsOkIGQc .mbr-card-title,
.cid-rvcsOkIGQc .mbr-iconfont {
  text-align: center;
  color: #ffffff;
}
.cid-rvcEcVeQgT {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-rvcEcVeQgT a:link {
  text-decoration: none;
}
.cid-rvcEcVeQgT .icon-transition span {
  padding: 0.1rem 0.9rem;
  border-radius: 50%;
  color: #ffffff;
  display: block;
  height: 3em;
  line-height: 3em;
  width: 3em;
  background: #ad4482 none repeat scroll 0 0;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  font-size: 14px;
}
.cid-rvcEcVeQgT .icon-transition span:hover {
  background-color: #acd910;
}
.cid-rvcEcVeQgT .social-media ul {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}
.cid-rvcEcVeQgT .social-media ul li {
  padding: 4px;
  display: inline-block;
}
.cid-rvcEcVeQgT .foot-menu {
  -webkit-flex-direction: row;
  flex-direction: row;
  margin: 0;
  margin-bottom: 8px;
  padding: .6em 0;
}
.cid-rvcEcVeQgT .foot-menu > li {
  font-size: 14px;
  padding: 0;
  display: inline-block;
}
.cid-rvcEcVeQgT .foot-menu > li .rhombus {
  width: 0;
  height: 0;
  right: 4px;
  border: 4px solid transparent;
  border-bottom-color: #ad4482;
  position: relative;
  top: -19px;
}
.cid-rvcEcVeQgT .foot-menu > li .rhombus::after {
  width: 0;
  height: 0;
  content: '';
  position: absolute;
  left: -4px;
  top: 4px;
  border: 4px solid transparent;
  border-top-color: #ad4482;
}
.cid-rvcEcVeQgT .foot-menu li a {
  font-family: 'OpenSans', sans-serif;
  display: inline-block;
  letter-spacing: 2px;
  padding: 0 10px;
}
.cid-rvcEcVeQgT .plan-title,
.cid-rvcEcVeQgT .text-letter {
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  font-weight: 600;
}
.cid-rvcEcVeQgT .plan-title {
  color: #444444;
}
@media (max-width: 767px) {
  .cid-rvcEcVeQgT .foot-menu {
    padding: 15px 1rem;
  }
}
.cid-rvcEcVeQgT .mbr-section-title span {
  color: #ffbc00;
}
.cid-rvcEcVeQgT .mbr-text {
  color: #ad4482;
}
.cid-rvcEcVeQgT .mbr-section-title {
  color: #ad4482;
}
